body {
	background: #13012f;
	background: -moz-linear-gradient(top, #060010 0%, #060010 15%, #090016 30%, #070016 45%, #0a0121 60%, #0a0127 75%, #0a0129 90%, #0c012b 100%);
	background: -webkit-linear-gradient(top, #060010 0%, #060010 15%, #090016 30%, #070016 45%, #0a0121 60%, #0a0127 75%, #0a0129 90%, #0c012b 100%);
	background: linear-gradient(top, #060010 0%, #060010 15%, #090016 30%, #070016 45%, #0a0121 60%, #0a0127 75%, #0a0129 90%, #0c012b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060010",
			endColorstr="#0c012b",
			GradientType=0);
}

body .background{
    z-index: -1;
}

html {
	scrollbar-width: thin;
}





@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #010e18;
    overflow: hidden;
}

.background span {
    width: 1vmin;
    height: 1vmin;
    border-radius: 1vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 40;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #bbff00;
    top: 2%;
    left: 38%;
    animation-duration: 36s;
    animation-delay: -51s;
    transform-origin: 19vw 3vh;
    box-shadow: -2vmin 0 0.6013662877991488vmin currentColor;
}
.background span:nth-child(1) {
    color: #bbff00;
    top: 23%;
    left: 79%;
    animation-duration: 11s;
    animation-delay: -36s;
    transform-origin: 19vw -2vh;
    box-shadow: 2vmin 0 0.39095873132229086vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffffff;
    top: 8%;
    left: 47%;
    animation-duration: 23s;
    animation-delay: -2s;
    transform-origin: 20vw 10vh;
    box-shadow: 2vmin 0 0.8304950904717685vmin currentColor;
}
.background span:nth-child(3) {
    color: #ffffff;
    top: 43%;
    left: 68%;
    animation-duration: 84s;
    animation-delay: -95s;
    transform-origin: 20vw 6vh;
    box-shadow: 2vmin 0 1.0502127053336658vmin currentColor;
}
.background span:nth-child(4) {
    color: #0a95ff;
    top: 74%;
    left: 57%;
    animation-duration: 58s;
    animation-delay: -15s;
    transform-origin: 3vw -5vh;
    box-shadow: -2vmin 0 0.9792622143506782vmin currentColor;
}
.background span:nth-child(5) {
    color: #ffffff;
    top: 57%;
    left: 54%;
    animation-duration: 51s;
    animation-delay: -59s;
    transform-origin: -4vw -8vh;
    box-shadow: 2vmin 0 0.254436162875046vmin currentColor;
}
.background span:nth-child(6) {
    color: #0a95ff;
    top: 54%;
    left: 79%;
    animation-duration: 69s;
    animation-delay: -29s;
    transform-origin: -12vw 23vh;
    box-shadow: 2vmin 0 0.3483116226566261vmin currentColor;
}
.background span:nth-child(7) {
    color: #bbff00;
    top: 62%;
    left: 7%;
    animation-duration: 15s;
    animation-delay: -62s;
    transform-origin: 22vw 25vh;
    box-shadow: 2vmin 0 0.6480367739081054vmin currentColor;
}
.background span:nth-child(8) {
    color: #bbff00;
    top: 6%;
    left: 67%;
    animation-duration: 22s;
    animation-delay: -71s;
    transform-origin: 23vw 8vh;
    box-shadow: -2vmin 0 1.2079417260472727vmin currentColor;
}
.background span:nth-child(9) {
    color: #0a95ff;
    top: 26%;
    left: 75%;
    animation-duration: 23s;
    animation-delay: -61s;
    transform-origin: -18vw 0vh;
    box-shadow: 2vmin 0 0.5871633338534152vmin currentColor;
}
.background span:nth-child(10) {
    color: #bbff00;
    top: 82%;
    left: 34%;
    animation-duration: 47s;
    animation-delay: -74s;
    transform-origin: -10vw 16vh;
    box-shadow: -2vmin 0 0.7216147169926661vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffffff;
    top: 54%;
    left: 64%;
    animation-duration: 24s;
    animation-delay: -50s;
    transform-origin: 13vw -21vh;
    box-shadow: -2vmin 0 1.0006379521553204vmin currentColor;
}
.background span:nth-child(12) {
    color: #ffffff;
    top: 61%;
    left: 91%;
    animation-duration: 78s;
    animation-delay: -13s;
    transform-origin: -17vw 16vh;
    box-shadow: -2vmin 0 0.7596534962991623vmin currentColor;
}
.background span:nth-child(13) {
    color: #0a95ff;
    top: 51%;
    left: 45%;
    animation-duration: 13s;
    animation-delay: -73s;
    transform-origin: -22vw 24vh;
    box-shadow: 2vmin 0 0.5250970961229515vmin currentColor;
}
.background span:nth-child(14) {
    color: #bbff00;
    top: 71%;
    left: 98%;
    animation-duration: 97s;
    animation-delay: -36s;
    transform-origin: -11vw -11vh;
    box-shadow: 2vmin 0 0.5360193589812172vmin currentColor;
}
.background span:nth-child(15) {
    color: #0a95ff;
    top: 20%;
    left: 73%;
    animation-duration: 95s;
    animation-delay: -75s;
    transform-origin: 21vw 3vh;
    box-shadow: -2vmin 0 0.9691700783754909vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffffff;
    top: 54%;
    left: 83%;
    animation-duration: 39s;
    animation-delay: -65s;
    transform-origin: 6vw -20vh;
    box-shadow: -2vmin 0 0.3683843144051844vmin currentColor;
}
.background span:nth-child(17) {
    color: #bbff00;
    top: 36%;
    left: 97%;
    animation-duration: 32s;
    animation-delay: -85s;
    transform-origin: -19vw 2vh;
    box-shadow: 2vmin 0 0.26388950287096313vmin currentColor;
}
.background span:nth-child(18) {
    color: #bbff00;
    top: 78%;
    left: 40%;
    animation-duration: 57s;
    animation-delay: -53s;
    transform-origin: 7vw -2vh;
    box-shadow: 2vmin 0 0.27348945447103934vmin currentColor;
}
.background span:nth-child(19) {
    color: #bbff00;
    top: 55%;
    left: 59%;
    animation-duration: 67s;
    animation-delay: -59s;
    transform-origin: -4vw 14vh;
    box-shadow: 2vmin 0 0.962406406876732vmin currentColor;
}
